  
  .spl-trending-product-container h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  .spl-heading{
    text-align: center;
    margin-top: 5%;
  }
  .spl-grid-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */ /* spacing between items */
    justify-items: center;
    padding: 0 80px;
  }
  .spl-para-text{
    margin-left: -30px;
  }
  .spl-data-grid {
    background-color: #fff;
    padding: 16px;
    width: 100%;
    transition: transform 0.2s ease;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .spl-image-wrapper {
    position: relative;
    display: inline-block;
    width: 50%;
  }
  
  .spl-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
  }
  
  /* Positioning the star rating on top of the image */
  .spl-star-overlay {
    position: absolute;
    top: 10px;
    right: -40%;
    padding: 4px 6px;
    border-radius: 4px;
  }
  .spl-hover-icons {
    position: absolute;
    top: 20%;
    right: -10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;  
    font-size: 20px;
  }
  
  .spl-hover-icons i {
    font-size: 20px;
    color: #3b9048;
    cursor: pointer;

  }
  
  /* Show icons only on hover */
  .spl-image-wrapper:hover .hover-icons {
    opacity: 1;
  }
  
  .spl-star-overlay i {
    color: #f4b400;
    font-size: 14px;
    margin-left: 1px;
  }
  
  
  .spl-data-grid:hover {
    transform: translateY(-5px);
  }
  
  .spl-data-grid img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .spl-data-grid p {
    margin: 4px 0;
    font-size: 16px;
  }
  .spl-trending-product-view-all-btn{
    background-color: #3b9048;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
  }
  .spl-features-btn button {
    margin: 0 10px 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .spl-features-btn button.active {
    background-color: #3b9048;
    color: #fff;
  }
  .spl-view-btn{
    text-align: center;
  }

  @media (max-width: 992px) {
    .spl-grid-box-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
      padding: 0 40px;
    }
  }
  
  @media (max-width: 576px) {
    .spl-grid-box-container {
      grid-template-columns: 1fr; /* 1 column for mobile */
      padding: 0 20px;
    }
  
    .spl-trending-product-container h1 {
      font-size: 32px;
    }
  
    .spl-data-grid {
      align-items: center;
    }
    .spl-para-text{
      width: 100%;
      margin-left: 7px;
    }
    .spl-image-wrapper {
      width: 100%;
    }
  
    .spl-hover-icons {
      right: 10px;
      top: 10px;
      transform: none;
    }
  
    .spl-star-overlay {
      right: -105px;
    }
    .spl-data-grid p {
      margin: 4px 0;
      font-size: 14px;
  }
  .special-conatiner{
    margin-top: 30%;
  }
  }
  