
.cart-page-container{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-item-product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.cart-item-product-container-image-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 7%;
}
.cart-item-price-container-text{
    margin-top: 73%;
}
.cart-item-quantity-container-text{
    margin-top: 55%;
}
.cart-item-product-container-image-text img{
    width: 120px;
    height: 120px;
}
.cart-item-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;

}
.cart-item-price-container{
    width: 100px;
    text-align: center;
}
.CART-hr{
    width: 85%;
    margin: 20px 0;
    opacity: 1;
    color: rgb(241, 241, 241);
}