.wallpaperImage{
    height: 552px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.wallpaper-text{
    position:absolute;
    top: 32%;
    left: 32%;
    text-align: center;
}
.wallpaper-text h1{
    font-weight: bolder;
    font-size: 70px;
}
.wallpaper-text span{
    font-weight: normal;
}
.wallpaper-text button{
    background-color: #3b9048;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
}
.wallpaper-container{
    position: relative;
}

@media (max-width: 768px) {
    .wallpaperImage {
      height: 190px; /* smaller height for mobile */
      object-fit: cover;
    }
  
    .wallpaper-text {
      top: 5%;
      left: 10%;
      right: 10%;
      width: 80%;
      text-align: center;
    }
  
    .wallpaper-text h1 {
      font-size: 32px;
    }
  
    .wallpaper-text span {
      font-size: 14px;
    }
  
    .wallpaper-text button {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
  