.testimonial-image-and-content img{
  position: absolute;
  top: -42px;
  right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.quote-icon {
  transform: rotateY(180deg); /* rotate downward */
  position: absolute;
  top: -55px; /* pull it down to border */
  left: 50px;
  opacity: 1;
  z-index: 1001;
  background-color: white;
}

.testimonail-text p{
    font-size: 18px;
    margin-left: 30px;
    color: #bbb;
}
.test-name-prof{
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 60px;
}
.testimonial-carousel-wrapper {
    position: relative;
    width: 80%;
    height: 400px; /* height of one testimonial */
    margin: 10% 8%;
    overflow: visible;
  }
  
  .testimonial-image-and-content {
    position: relative;
    height: 300px; 
    width: 532px;
    border: 1px solid rgb(239, 238, 238);
    overflow: visible; /* ✅ allow image to extend outside */
    z-index: 1;         /* ✅ make sure it stacks above */
  }
  .testimonail-text {
    width: 500px;
  }
  
  .testimonial-carousel-viewport {
    width: 100%;
  }
  
  .testimonial-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
    gap: 50px;
  }
  
  .testimonial-arrow {
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    background: rgb(238, 237, 237);
    color: black;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }
  
  .testimonial-arrow.left {
    left: 47%;
  }
  
  .testimonial-arrow.right {
    right: 44%;
  }
  
  