.banner-container{
    display: flex;
}
.banner-image-text{
    position: relative;

}
.banner-image-text img{
    width: 600px;
    object-fit: cover;
    height: 350px;
}
.banner-text{
    position: absolute;
    top: 30%;
    left: 50%;
}
.banner-text button{
    background-color: #3b9048;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}
.banner-text h2{
    margin-top: 15px;
}
.bold-word {
    font-weight: 700;
  }
  
  .normal-word {
    font-weight: 400;
  }
  
  @media (max-width: 768px) {
    .banner-container {
      flex-direction: column;
      align-items: center;
    }
  
    .banner-image-text img {
      width: 100%;
      height: 300px;
      position: relative;
    }
  
    .banner-text {
      position: absolute; /* remove absolute for stacking */
      top: 90px;
      left: 205px;

    }
  
    .banner-text h2,h5 {
      font-size: 16px;
    }
  
    .banner-text button {
      font-size: 14px;
      padding: 8px 20px;
    }
  }
  